<h2>HOSTING</h2>
    <%= render collection: @hosted_events, partial: "events/event" %>
<h2>ATTENDING</h2>
    <%= render collection: @attending_events, partial: "attending" %>
<h2>PAST EVENTS</h2>
    <%= render collection: @attended_events, partial: "past" %>
