<h2>HOSTING</h2>
<ul>
    <%= render collection: @hosted_events, partial: "events/event" %>
</ul>
<h2>ATTENDING</h2>
<ul>
    <%= render collection: @attending_events, partial: "events/event" %>
</ul>