<div class="all-events">
<div class="hosting-events">
    <%= render "hosting" %>
</div>
<div class="upcoming-events">
    <%= render "attending" %>
</div>
<div class="past-events">
<%= render "past" %>
</div>
</div>