<% if user_signed_in? %>
    <div class="all-events">
    <div class="card">
        <%= render "form" %>
    </div>
    </div>
    <div class="upcoming-events">
    <div class="card">
        <%= render "all_future" %>
    </div>
    </div>
    <div class="past-events">
    <div class="card">
        <%= render "all_past" %>
    </div>
    </div>
    </div>
    
<% else %>
   please log in :D
<% end %>
