<% if user_signed_in? %>
    <div>
        <h3>Create New Event:</h3>
        <%= render "form" %>
    </div>

    <div>
        <%= render "all_future" %>
    </div>
    
    <div>
        <%= render "all_past" %>
    </div>
    
<% else %>
   please log in :D
<% end %>
